$main-color: #2A98A3;
$hover-color: #208191;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*a:hover{
  text-decoration: none;
}
.hr {

  &__one{
  width: 200px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }
  &__two{
    width: 100px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
  }
}
.container{
  max-width: 1400px;

}
.row{

}
.header{
  z-index: 1;
  height: 100px;
  position: absolute;
  width: 100%;
  padding: 0;
  background-color: transparent;
  &__image{
    width: 120px;
  }
}
.wrapper{
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.navbar{
  padding-left: 80px;
  &__collapse{
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }
  &__item{
    padding: 0 31px;
  }
  &__item:last-child{
  padding-right: 0;
  }
  &__link{
    color: #fff;
    font-size: 1.25rem;
    &:hover{
      color: #d8d8d8;
      text-decoration: none;
    }
  }
}
.video-block{
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  &__video{
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.main-content{
  text-align: center;
  padding-top: 170px;
}
.title h1{
  margin-top: 100px;
  font-size: 50px;
  color: #fff;
  letter-spacing: 10px;
}
.subtitle h2{
  margin-top: 30px;
  font-size: 20px;
  color: #fff;
}
.home{
  position: relative;
}
.button{
  margin-top: 50px;
  margin-bottom: 100px;
  width: 320px;
  padding: 17px 16px 15px;
  border-radius: 27.5px;
  background-color: $main-color;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  &:hover{
    background-color: $hover-color;
  }
}
.container-home__wave-block{
}
.services{
  background-color: #fff;
  padding-bottom: 50px;
}
.cards {
  //background: url("../img/green-cloud.svg");
  //background-repeat: no-repeat;
  padding: 25px;
  align-items: flex-start;
  transition: .3s;
  cursor: pointer;
  &__image{
    width: 70px;
  }
  &__software {
    display: flex;
    align-items: flex-start;
  }
  &__wrapper{
    margin-left: 20px;
  }
  &__title{
    color: #4a4e57;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
  }
  &__descr{
    padding-right: 20px;
    margin-top: 10px;
    color: #717885;
  }
  &:hover{
    box-shadow: 0px 0px 7px 0px rgba(113,104,133,0.5);
    text-decoration: none;
  }
}
.customers{

  &__one{
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('../img/customers_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;

  }
  &__two{
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('../img/customers_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  &-button{
    width: 215px;
    padding: 9px 14px 9px;
  }
  &__title{

    font-size: 37px;
    text-align: center;

    color: #4a4e57;
    font-weight: 500;
    letter-spacing: 8px;
  }
  &__subtitle{
    margin-top: 100px;
    color: #fff;
    font-size: 35px;
  }
  &__descr{
    color: #fff;
  }
}

.tech{
  padding: 50px 100px;

  &__title{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #4a4e57;
    letter-spacing: 8px;
  }
  &__card{
    margin-bottom: 40px;
    padding: 0 30px;
  }
  &-stack {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &__img {
      width: 50px;
    }

    &__title {
      text-align: center;
      /* margin: auto; */
      margin-left: 20%;
      font-size: 22px;
      font-weight: 500;
    }
  }
}
.tech__card p{
  height: 70px;
  overflow: hidden;
  color: #717885;

}
.showContent p{
  height: auto;

}
.readmore-btn{

  cursor: pointer;
  text-decoration: underline
}
.showContent .readmore-btn{
  color: #007bff;
  transition: 1s;
}
.contacts{
  background: url(../img/scalet-bg.jpg) center center/cover no-repeat;
  &__title{
    font-size: 32px;
    font-weight: 600;
    padding-left: 20px;
    color: #fff;
    margin-bottom: 20px;

  }
  &__wrapper{
    padding: 60px;
    display: flex;
  }
}
.location {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  & a:hover{
  color: #fff;
  }
  &__title  {
    color: #fff;
    margin-left: 20px;
    font-size: 18px;
  }
}

.contacts__main{
  width: 50%;
  padding-top: 78px;
  padding-left: 100px;


}

.form__wrapper{
  border-radius: 6px;
  background-color: #fff;
  max-width: 450px;
}
.form{
  width: 50%;
  &__title{
    border-bottom: 1px solid $main-color;
    padding: 15px 20px;
    font-size: 24px;
    font-weight: 600;
    color: #4a4e57
  }

}
.feed-form{
  padding: 0 20px;
  &__input {
    margin: 36px 0;
    padding: 10px 15px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    border: solid 1px $main-color;
    font-size: 14px;
    resize: none;
    background-color: transparent;
  }
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.button-submit{
  padding: 10px;
  margin: 0 0 20px 0;
  width: 100%;
  border-radius: 2px;
  border: 1px solid $main-color;
  background-color: $main-color;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  &:hover{
    background-color: $hover-color;
  }
}
