body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* a:hover {
  text-decoration: none;
}

* ul, li {
  list-style-type: none;
}

.hr__one {
  width: 200px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.hr__two {
  width: 100px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.container {
  max-width: 1400px;
}

.row {
  margin: 0;
}

.header {
  z-index: 1;
  height: 100px;
  position: absolute;
  width: 100%;
  padding: 0;
  background-color: transparent;
}
.header__image {
  width: 120px;
}

.wrapper {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.navbar {
  padding-left: 80px;
}
.navbar__collapse {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.navbar__item {
  padding: 0 31px;
}
.navbar__item:last-child {
  padding-right: 0;
}
.navbar__link {
  color: #fff;
  font-size: 1.25rem;
}
.navbar__link:hover {
  color: #d8d8d8;
  text-decoration: none;
}

.video-block {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.video-block__video {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-content {
  text-align: center;
  padding-top: 170px;
}

.title h1 {
  margin-top: 100px;
  font-size: 50px;
  color: #fff;
  letter-spacing: 10px;
}

.subtitle h2 {
  margin-top: 30px;
  font-size: 20px;
  color: #fff;
}

.home {
  position: relative;
}

.button {
  margin-top: 50px;
  margin-bottom: 100px;
  width: 320px;
  padding: 17px 16px 15px;
  border-radius: 27.5px;
  background-color: #2A98A3;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.button:hover {
  background-color: #208191;
}

.services {
  background-color: #fff;
  padding-bottom: 50px;
}

.cards {
  padding: 25px;
  align-items: flex-start;
  transition: 0.3s;
  cursor: pointer;
}
.cards__image {
  width: 70px;
}
.cards__software {
  display: flex;
  align-items: flex-start;
}
.cards__wrapper {
  margin-left: 20px;
}
.cards__title {
  color: #4a4e57;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}
.cards__descr {
  padding-right: 20px;
  margin-top: 10px;
  color: #717885;
}
.cards:hover {
  box-shadow: 0px 0px 7px 0px rgba(113, 104, 133, 0.5);
  text-decoration: none;
}

.customers__one {
  text-align: center;
  background-image: linear-gradient(rgba(9, 60, 77, 0.6), rgba(9, 60, 77, 0.9)), url("../img/customers_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.customers__two {
  text-align: center;
  background-image: linear-gradient(rgba(9, 60, 77, 0.6), rgba(9, 60, 77, 0.9)), url("../img/customers_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.customers-button {
  width: 215px;
  padding: 9px 14px 9px;
}
.customers__title {
  font-size: 37px;
  text-align: center;
  color: #4a4e57;
  font-weight: 500;
  letter-spacing: 8px;
}
.customers__subtitle {
  margin-top: 100px;
  color: #fff;
  font-size: 35px;
}
.customers__descr {
  color: #fff;
}

.tech {
  padding: 50px 100px;
}
.tech__title {
  font-size: 37px;
  text-align: center;
  color: #4a4e57;
  font-weight: 500;
  letter-spacing: 8px;
}
.tech__card {
  margin-bottom: 40px;
  padding: 0 30px;
}
.tech-stack {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.tech-stack__img {
  width: 50px;
}
.tech-stack__title {
  text-align: center;
  /* margin: auto; */
  margin-left: 20%;
  font-size: 22px;
  font-weight: 500;
}

.tech__card p {
  height: 70px;
  overflow: hidden;
  color: #717885;
}

.showContent p {
  height: auto;
}

.readmore-btn {
  cursor: pointer;
  text-decoration: underline;
}

.showContent .readmore-btn {
  color: #007bff;
  transition: 1s;
}

.contacts {
  background: url(../img/scalet-bg.jpg) center center/cover no-repeat;
}
.contacts__title {
  font-size: 32px;
  font-weight: 600;
  padding-left: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.contacts__wrapper {
  padding: 60px;
  display: flex;
}

.location {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.location a:hover {
  color: #fff;
}
.location__title {
  color: #fff;
  margin-left: 20px;
  font-size: 18px;
}

.contacts__main {
  width: 50%;
  padding-top: 78px;
  padding-left: 100px;
}

.form__wrapper {
  border-radius: 6px;
  background-color: #fff;
  max-width: 450px;
}

.form {
  width: 50%;
}
.form__title {
  border-bottom: 1px solid #2A98A3;
  padding: 15px 20px;
  font-size: 20px;
  color: #4a4e57;
  font-weight: 500;
  letter-spacing: 5px;
}

.feed-form {
  padding: 0 20px;
}
.feed-form__input {
  margin: 36px 0;
  padding: 10px 15px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  border: solid 1px #2A98A3;
  font-size: 14px;
  resize: none;
  background-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.button-submit {
  padding: 10px;
  margin: 0 0 20px 0;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #2A98A3;
  background-color: #2A98A3;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.button-submit:hover {
  background-color: #208191;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px 0 100px;
}

.list a {
  font-size: 14px;
  border-bottom: solid 1px #2A98A3;
  color: #4a4e57;
}
.list a:hover {
  border-bottom: none;
}
.list-title {
  font-size: 14px;
  color: #4a4e57;
  font-weight: 500;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.list-item {
  margin-bottom: 8px;
}

.footer-title {
  text-align: center;
  font-size: 14px;
  margin: 15px 0;
}

hr {
  border-top: solid 1px #2A98A3;
}

.footer-info__image img {
  width: 100px;
}
.footer-info__title {
  margin-top: 30px;
  max-width: 300px;
  font-size: 14px;
  color: #4a4e57;
}

@media (min-aspect-ratio: 16/9) {
  .video-block {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-block {
    width: auto;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
